<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    {% seo %}
  </head>
  <body>
    {% include rubric_navbar.html %}
    <!-- {% include breadcrumbs.html %} -->
    <div class="container-md">
      <div class="mb-5">
        <a href="{{ page.back }}">← Back</a>
      </div>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
