/* Custom Variables */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root {
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
}


body {
  background-color: rgb(255, 253, 249)!important;
  scroll-behavior: smooth;
}

p,li {
  font-size: var(--step-1);
  font-family: 'Roboto', sans-serif;
  font-feature-settings: "kern" 1, "dlig" 1, "ss01" 1, "opbd" 1;

}

.smaller-text {
  font-size: var(--step--1);
}

.row + .row {
  border-top: 0!important;
}

.empty_dates {
  background: #DEE2E6;
}

section {
  height: 100vh;
}

// TODO: disable scroll bar
.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory !important;
  scroll-snap-stop: always !important;
}

// https://stackoverflow.com/a/43186214/10880347
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.scroller section {
    scroll-snap-align: start;
}
